body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: #000;
}

.dark-mode h1 {
  color: #fff;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.note.new {
  background-color: #5C4B99;
  /*background-color: #BEADFA;*/
  /*background-color: #5C5470;*/
  color: #fff;
}

.note.new::placeholder {
  color: #fff;
  opacity: 1;
}

textarea {
  border: none;
  resize: none;
  background-color: #5C4B99;
  color: #fff;
  /*background-color: #BEADFA;*/
  /*background-color: #5C5470;*/
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #fff;
}

.save {
  background-color: #9F91CC;
  /*background-color: #B9B4C7;*/
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #BEADFA;
  /*background-color: #d6d3e0;*/
  box-shadow: 0 0.5em 0.5em -0.4em #000;
  /*box-shadow: 0 0.5em 0.5em -0.4em #D0BFFF;*/
  transform: translateY(-.25em);
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  cursor: pointer;
}

.note {
  background-color: #B9B4C7;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  background-color: #C70039;
  color: #fff;
  border-radius: 5px;
  transform: translateY(-.25em);
  transition: color 0.1s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;

}

.search {
  display: flex;
  align-items: center;
  background-color: #DBDFEA;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: #DBDFEA;
  width: 1000px;
}

.search input:focus {
  outline: none;
}